<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
   
    <servlet>
        <servlet-name>RegistroAlumnoServlet</servlet-name>
        <servlet-class>com.colegio.servlet.RegistroAlumnoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistroCursoServlet</servlet-name>
        <servlet-class>com.colegio.servlet.RegistroCursoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistroDocenteServlet</servlet-name>
        <servlet-class>com.colegio.servlet.RegistroDocenteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListadoCursosServlet</servlet-name>
        <servlet-class>com.colegio.servlet.ListadoCursosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListadoDocentesServlet</servlet-name>
        <servlet-class>com.colegio.servlet.ListadoDocentesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistroMatriculaServlet</servlet-name>
        <servlet-class>com.colegio.servlet.RegistroMatriculaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListadoAlumnosServlet</servlet-name>
        <servlet-class>com.colegio.servlet.ListadoAlumnosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListadoMatriculasServlet</servlet-name>
        <servlet-class>com.colegio.servlet.ListadoMatriculasServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistroAlumnoServlet</servlet-name>
        <url-pattern>/RegistroAlumnoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistroCursoServlet</servlet-name>
        <url-pattern>/RegistroCursoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistroDocenteServlet</servlet-name>
        <url-pattern>/RegistroDocenteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListadoCursosServlet</servlet-name>
        <url-pattern>/ListadoCursosServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListadoDocentesServlet</servlet-name>
        <url-pattern>/ListadoDocentesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistroMatriculaServlet</servlet-name>
        <url-pattern>/RegistroMatriculaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListadoAlumnosServlet</servlet-name>
        <url-pattern>/ListadoAlumnosServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListadoMatriculasServlet</servlet-name>
        <url-pattern>/ListadoMatriculasServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
